{% include 'header.html' %}
{% include 'navbar.html' %}

<style>
    body {
        font-family: Arial, sans-serif;
    }
    .server {
        border: 2px solid #ccc;
        padding: 10px;
        margin: 20px 650px 0;
        border-radius: 5px;
        width:400px;
        height: 430px;
    }
    .server h3 {
        margin: 0;
        padding: 0;
    }
    .server p {
        margin: 10px 0;
    }

    .btn {
        padding: 5px 20px;
        text-decoration: none;
        border-radius: 5px; 
        margin-left: 50px;
        
    }
</style>

{% for server in servers %}
<div class="server">
    <h3>{{ server.name }}</h3>
    <p><strong>Hostname:</strong> {{ server.hostname }}</p>
    <p><strong>IP Address:</strong> {{ server.ip_address }}</p>
    <p><strong>Location:</strong> {{ server.location }}</p>
    <p><strong>Status:</strong> {{ server.status }}</p>
    <p><strong>Operating System:</strong> {{ server.os }}</p>
    <p><strong>CPU Cores:</strong> {{ server.cpu_cores }}</p>
    <p><strong>Memory (GB):</strong> {{ server.memory_gb }}</p>
    <p><strong>Storage (GB):</strong> {{ server.storage_gb }}</p>
    <p><strong>Last Updated:</strong> {{ server.last_updated }}</p>
    <a class="btn btn-dark" href="/edit?name={{ server.hostname }}">Edit</a>
    <a class="btn btn-danger" href="/delete?name={{ server.hostname }}">Delete</a>
</div>
{% endfor %}

{% include 'footer.html' %}